{% extends 'MainBundle:Back:baseBack.html.twig' %}

{% block body -%}
<div class="page" style="width:80%;margin:auto">
    <h1>Home creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('home') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
{% endblock %}
