.page-evenement {
    width: 100%;
    height: 340px;

    margin-top: 20px;

    border-top: 1px solid #56575a;
    border-bottom: 1px solid #56575a;

    position: relative;

    .header-page-evenement {

        height: 50px;
        line-height: 50px;

        .header-page-evenement-container{
            width: 100%;
            height: 100%;

            margin: 0 auto;

            position: relative;

            h1 {
                margin: 0;
                padding: 0;

                text-align: center;
                text-transform: uppercase;
                font-size: 11px;
                letter-spacing: 5px;
                font-weight: normal;


                .type-evenement {
                    display: inline-block;
                    margin-right: 35px;
                }
            }

            .btn-inscription {
                position: absolute;
                left: 0px;
                top: 10px;
            }
            .btn-alerte {
                position: absolute;
                right: 0px;
                top: 10px;
            }
        }
        @media screen and (max-width: 1150px) {
            .header-page-evenement-container{
                width: 100%;
            }
        }


    }

    .slider-marque {
        width: 100%;
        height: 255px;

        padding: 0 50px;

        position: relative;
        overflow: hidden;

        .btn-slider-left {
            position: absolute;
            top: 125px;
            left: 10px;

            cursor: pointer;
            opacity: 0.6;

            &:hover {
                opacity: 0.8;
            }
        }
        .btn-slider-right {
            position: absolute;
            top: 125px;
            right: 10px;

            cursor: pointer;
            opacity: 0.6;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .page-evenement-footer {
        height: 40px;

        position: absolute;
        bottom: -2px;
    }

}