.page-produit {
    position: absolute;
    width: 100%;
    height: 340px;
    margin-top: 20px;
    border-top: 1px solid #56575A;
    border-bottom: 1px solid #56575A;
    position: relative;
    
    display: none;
}