{% extends 'MainBundle:Back:baseBack.html.twig' %}

{% block body -%}
<div class="page" style="width:40%;margin:auto">
    <h1>All images</h1>

    <p>...Toutes les images seront affichees ici...</p>

</div>
{% endblock %}
