{% extends 'MainBundle:Front:baseFront.html.twig' %}

{% block content %}

    {# dump(user) #}
<section>
    <form class="form-inscription" method="post" action="#">
        <a class="insc membre" href="#">Dejà membre?</a>
        <div class="contenu">
            <div class="form-group">
                <label>pays :</label>
                <input type="text" value="">
            </div>
            <div class="form-group">
                <label>Nom :</label>
                <input type="text" value="">
            </div>
            <div class="form-group">
                <label>Prenom :</label>
                <input type="text" value="">
            </div>
            <div class="form-group">
                <label>Née le : </label>
                <input type="text" value="">
            </div>
            <div class="form-group">
                <label>Code Postal :</label>
                <input type="text" value="">
            </div>
            <div class="form-group">
                <label>Ville :</label>
                <input type="text" value="">
            </div>
            <div class="form-group">
                <label>Email :</label>
                <input type="text" value="">
            </div>
            <div class="form-group">
                <label>Mot de passe :</label>
                <input type="text" value="">
            </div>
        </div>
        <input class="submit" type="submit" value="Inscription">
    </form>

</section>    

{% endblock %}
