{% extends 'MainBundle:Front:baseFront.html.twig' %}

{% block title %}ATTRACTIF{% endblock %}

{% block content %}

{% for alert in alerts %}
    {#{dump(alert)}#}
{% endfor %}

<section>
    <h1>Alertes</h1>
    
    <h3>Par Entreprise</h3>
    <p>Voici la liste de sociétés partenaires, veuillez sélectionner les 
        entreprises que vous désirez suivre.</p>
    
    <form action="{{path('alerts')}}" method="post">
        {% for ent in ents %}
            <input 
                {% for alert in alerts %}
                    {% if(alert.id == ent.id) %}S
                        checked="true"
                    {% endif %}
                {% endfor %}
                type="checkbox" disabled="disabled" value="{{ ent.libelle }}" name="alert"> {{ ent.libelle }}<br />
        {% endfor %}
            <br />
    </form>
</section>    
{% endblock %}
