{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{asset('bundles/frontoffice/css/style.css')}}" />
{% endblock %}

{% block body %}
    <div class="page-content">
        <header class="header">
            <div class="logo">
                <img src="{{asset('bundles/frontoffice/images/logo.png')}}" class="img-responsive">
            </div>
            {% include 'FrontOfficeBundle:Default:nav.html.twig' %}
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

{% endblock %}