{% extends 'MainBundle:Front:baseFront.html.twig' %}

{% block title %}ATTRACTIF{% endblock %}

{% block content %}
<section>
    <img class="img-responsive" src="{{asset('bundles/main/images/qui-sommes-nous.png')}}" />
</section>    
{% endblock %}
