<nav class="navbar">
    <ul>
        <li><a href="#">Qui sommes nous?</a></li><li><a href="#">Mes rendes-vous</a></li><li><a href="#">Mes alertes</a></li><li><a href="#">Mon compte</a></li><li><a href="#">Aide & Contact</a></li>
    </ul>
</nav>