{% extends 'MainBundle:Front:baseFront.html.twig' %}

{% block title %}ATTRACTIF{% endblock %}

{% block content %}
<section>
{% for event in events %}
    {#{dump(event)}#}
{% endfor %}
</section>
{% endblock %}
