{% extends 'MainBundle:Back:baseBack.html.twig' %}
{% form_theme edit_form 'MainBundle:Form:fields.html.twig' %}
{% form_theme delete_form 'MainBundle:Form:fieldsDelete.html.twig' %}


{% block body -%}
<div class="page" style="width:40%;margin:auto">
    <h1 style="text-decoration:underline">Edition produit</h1><br>

    {{ form(edit_form) }}
    <br>
    {{ form(delete_form) }}
    <br><br>
        <ul class="record_actions">
            <li>
                <a href="{{ path('produit') }}">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
{% endblock %}