.btn {
    width: 115px;
    height: 30px;
    line-height: 30px;

    border: 1px solid #56575a;

    text-align: center;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 11px;
    letter-spacing: 1.5px;
    font-weight: normal;
    
    cursor: pointer;
}