.marque { 
    width: 308px;
    height: 254px;

    border: 1px solid #56575a;
    border-left: none;

    float: left;
    position: relative;

    overflow: hidden;


    .header-marque {
        width: 100%;
        height: 155px;

        overflow: hidden;

        .img {
            vertical-align: middle;
        }
    }
    .btn-alerte {
        width: 105px;
        height: 25px;
        border: 1px solid #56575A;
        text-align: center;
        text-transform: uppercase;
        line-height: 21px;
        font-size: 11px;
        letter-spacing: 1.5px;
        font-weight: normal;
        cursor: pointer;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 153px;
    }
    .description {
        width: 100%;
        height: 70px;
        padding: 25px;
        margin-top: 10px;

        text-align: center;
        font-size: 9px;
        letter-spacing: 0.6px;

        overflow: hidden;
    }

}

.marque:first-child{
    border-left: 1px solid #56575a;
}
.marque:last-child{
    border-right: 1px solid #56575a;
}