{% extends 'MainBundle:Back:baseBack.html.twig' %}
{% form_theme delete_form 'MainBundle:Form:fieldsDelete.html.twig' %}

{% block body -%}
<div class="page" style="width:40%;margin:auto">
    <h1 style="text-decoration:underline">Evenement edit</h1><br>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('evenement') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
